.resolucion {
    width: 99%;
    justify-content: center;
    text-align: center;
    align-items: center; 
}

h1{
    font-family: "Licorice", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 100px;
}

.savethedate {
    font-family: "Licorice", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
}

.fecha__savethedate {
    font-family: "Alumni Sans Pinstripe", serif;
    font-weight: 400;
    font-style: bold;
    font-size: 50px;
}

h2{
    font-family: "Poiret One", serif;
    font-weight: 400;
    font-size: 20px;
}

h4{
    font-family: "Cinzel", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}
h5{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-size: 17px;
}

p{
    font-family: "Oooh Baby", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

.imagen__rayon{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ubicacion{
    width: 150px;
    font-family: "Cinzel", serif;
    text-align: center;
    border-radius: 8px;
    padding: 10px 5px;
    text-decoration: none;
    border: 2px solid #009999;
    color: #035252;
    justify-content: center;
    gap: 5px;
}

.ubicacion:hover{
    background-color: #009999;
    color: white;
}

.contenedor_savethedate{
    padding: 10px;
}


.flores img{
    width: 150px;
    height: 150px;
}

.contenedor__padrinos{
    padding: 10px;
}

.contenedor__padrinos img{
    width: 100px;
    height: 120px;
}

.texto__fecha{
    font-size: 60px;
    font-family: "Poiret One", serif;
}


.texto__padrinos h4,
.texto__padrinos p{
    margin-top: 0;
    padding: 0;
}

.texto__padrinos{
    margin-bottom: 20px;
}

.texto__padrinos h4{
    margin-bottom: 1px;
}

.texto__padrinos p{
    margin-top: 1px;
}

.negritas{
    font-weight: bold;
}

.subtitulo{
    font-weight: bold;
}


.row__date {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
    gap: 15px;
}

.column_date {
    flex: 1;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.column__date__border {
    border-left: 1px solid black; /* Borde en el lado izquierdo */
    border-right: 1px solid black; /* Borde en el lado derecho */
    font-family: "Licorice", serif;
    padding-top: 18px;
    font-weight: 400;
    font-size: 50px;
}

.row {
    display: flex;
    justify-content: space-around; /* Espacio uniforme entre las columnas */
    margin-top: 20px;
}

.column {
    flex: 1;
    padding: 10px;
}

.contenedor__vestimenta{
    padding: 10px;
    text-align: justify;
}

.contenedor__burbujas{
    padding: 10px;
    text-align: center;
}
.contenedor__padrinos{
    padding: 20px;
}
.contenedor__fotos__fecha {
    position: relative;
    text-align: center;
}

.contenedor__fotos__fecha img {
    width: 100px; /* Ajusta el tamaño de la imagen al contenedor */
    height: auto;
}

.overlay {
    position: absolute;
    top: 50%; /* Ajusta esta posición según lo necesites */
    left: 50%;/* Ajusta esta posición según lo necesites */
    transform: translate(-50%, -50%); 
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px; /* Ajusta el tamaño de la fuente según lo necesites */
}

.footer{
    background-color:#009999;
    text-align: center;
    padding: 5px;

}

.footer__fecha {
    color:rgba(255, 255, 255, 0.5);
    font-family: "Poiret One", serif;
    font-size: 10px;
}

.footer__nombres{
    font-family: "Licorice", serif;
    font-size: 20px;
    color:#035252;
    
}
